packages:
  yum:
    mysql-devel: []

commands:
  install_mysqlclient:
    command: |
      # Update the package list
      yum update -y
      
      yum install python3-devel mysql-devel
      # Install the MySQL development libraries
      yum install -y mysql-devel
      pip install mysqlclient
